<body class="bg-info">
<div class="about-section">
  <img src="img/logo.png"> 
  <h1>Jain Group of Institution</h1>
  <p>Jain College of Engineering (JCE), Belagavi was started under the umbrella of Jain Group of Institutions (JGI) headquartered in Bangalore. JCE made its beginning in the year 2010 in the disciplines of Civil Engineering, Computer Science and Engineering, Electrical and Electronics Engineering, Electronics and Communication Engineering as well as Mechanical Engineering. All the courses are affiliated to Visvesvaraya Technological University, Belagavi and our Institute is approved by AICTE, New-Delhi.</p>
  <h2>Vision</h2>
  <p>To be a university as a resource of solution to diverse challenges of society by nurturing innovation, research & entrepreneurship through value based education</p>
  <h2>Mission</h2>
  <p>To provide work culture that facilitates effective teaching-learning process and lifelong learning skills</p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dr. J. Shivakumar</h2>
        <p class="title">Principal & Director</p>
        <p>Qualifications: B.E (Mech), M.E (M/C Design), Ph.D (IIT Kharagpur)</p>
        <p>principal@jainbgm.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dr. Sachin M. Kulkarni</h2>
        <p class="title">Dean Academics</p>
        <p>Qualification: B.E, M.Tech, Ph.D.</p>
        <p>sachinkulkarni@jainbgm.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Col. Melville A. Dsouza</h2>
        <p class="title">Administrator JCE</p>
        <p>Qualification:B.E.</p>
        <p>adm.jce@jainbgm.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>