<body>
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="img/logo.png">College Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a routerLink="index" class="nav-link active" aria-current="page" >Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" class="nav-link active" aria-current="page" >About US</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="placement" class="nav-link active" aria-current="page" >Placements</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="contact" class="nav-link active" aria-current="page" >Contact</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="admission" class="nav-link active" aria-current="page" >Admission</a>
                  </li>
        <li class="nav-item">
          <a routerLink="department" class="nav-link active" aria-current="page" >Department</a>
        </li>
        <li class="nav-item">
          <a routerLink="employee" class="nav-link active" aria-current="page" >Employee</a>
        </li>
       
      </ul>
    
    
    </div>
        </div>

    
    </nav>
</section>
<hr>

<div>
<router-outlet></router-outlet>

</div>
<footer>
    <div class="content">
      
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Program</li>
            <li><a href="#">B.E</a></li>
            <li><a href="#">MBA</a></li>
            <li><a href="#">MCA</a></li>
            <li><a href="#">M.Tech</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Quick Links</li>
            <li><a href="#">Placements</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Announcement</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Follow Us</li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.twitter.com/">Twitter</a></li>
            <li><a href="#https://www.youtube.com/">Youtube</a></li>
            <li><a href="https://www.instagram.com/">instagram</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Address</li>
            <li><a href="https://www.google.com/search?rlz=1C1GGRV_enIN920IN920&tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=ALiCzsatP9q3fNgVuOjjSwgkfQMtT8eQmA:1663597169028&q=jain+college+of+engineering&rflfq=1&num=10&ved=2ahUKEwiBpbyyhqH6AhVGJrcAHRBAAnQQtgN6BAgQEAY#rlfi=hd:;si:8828960336577421305,l,ChtqYWluIGNvbGxlZ2Ugb2YgZW5naW5lZXJpbmdIv8f59LOPgIAIWi0QABABEAIQAxgAGAEYAhgDIhtqYWluIGNvbGxlZ2Ugb2YgZW5naW5lZXJpbmeSARJlbmdpbmVlcmluZ19zY2hvb2yqASMQASofIhtqYWluIGNvbGxlZ2Ugb2YgZW5naW5lZXJpbmcoAA;mv:[[15.8480204,75.1569494],[15.3683456,74.435219]]">#599/2 T.S. Nagar Hunchanhatti Road</a></li>
            <li><a href="#">Macche Belagavi 590014</a></li>
            <li><a href="#">Phone: +91 831 2411192</a></li>
          </ul>
          <ul class="box input-box">
            <li class="link_name">Subscribe</li>
            <li><input type="text" placeholder="Enter your email"></li>
            <li><input type="button" value="Subscribe"></li>
          </ul>
        </div>
        </div>
        
        
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="/"> Jain College Of Engineerig</a>
        </div>
        </footer>
      </body>



