
<body>
    <div id="heading">
    <h1>
        Welcome to the department of the training and placements
    </h1>
</div>
<div id="matter">
    <p>
        The Training and Placement cell plays a crucial role in providing job opportunities for UG & PG students passing out from the college. It has scaled great heights and touched about 2500+ cumulative offers since its inception. We have a very active linkages and collaborations with industry. More than 50 reputed MNC’s visit our institution for campus recruitment annually.
    </p>
</div>
<div id="year">
    <h2>Placements</h2>
</div>
<div class="module">
    
    <ul class="menu-list">
        <li class="2022">placements 2022</li>
        <br>
        <li class="2021">placements 2021</li>
        <br>
        <li class="2020">placements 2020</li>
        <br>
        <li class="2019">placements 2019</li>
        <br>
        <li class="2018">placements 2018</li>
        <br>
        <li class="2017">placements 2017</li>
        
    </ul>
    
</div>
<div>
    <p>For any specific assistance please contact</p>
    <img src="img/tpo.jpeg ">
</div>

    
</body>
